[Unit]
Description=Senty server service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/bin/senty_rpc_server.py

[Install]
WantedBy=multi-user.target
